svg.Avatar-container {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

circle.Avatar-circle-container {
     fill: #5a2ca0;
     stroke: #2d1650;
     stroke-width: 1.0mm;
}

path.Avatar-tshirt-body {
     fill: #442178;
     stroke: #2d1650;
     stroke-width: 1.0mm;
}
path.Avatar-tshirt-sleeve-endings {
     fill: #2d1650;
}

path.Avatar-profile-neck {
     fill: #1a1a1a;
     stroke: black;
     stroke-width: 1.0mm;
}
path.Avatar-profile-head {
     fill: black;
     stroke: black;
     stroke-width: 1.0mm;
}
path.Avatar-glasses-bottom {
     fill: black;
     stroke: black;
     stroke-width: 1.0mm;
}
path.Avatar-glasses-top {
     fill: white;
     stroke: black;
     stroke-width: 1.0mm;
}